.sign-in {
  text-align: center;
  min-height: 90vh;
  .signin-wrapper {
    margin-top: 9rem;
    width: 35rem;
    display: inline-block;

    form.signin-form {
      position: relative;

      .input-auth-msg {
        bottom: 4rem;
      }
    }
  }
}
