.home-matches {
  background: $color-blue-secondary;
  margin-top: 1rem;
  padding: 5rem 0;

  .matches {
    flex-wrap: wrap;
    display: flex;
    margin-top: 6rem;
    &__item {
      width: 50%;
      margin: 3.5rem 0;
      padding: 0 0.5rem;
    }

    .match-date {
      color: #ffffff;
      font-size: 1.8rem;
    }

    .match-top,
    .match-bottom {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      &__left {
        background: $color-white-primary;
        flex-grow: 1;
        margin-right: 0.5rem;
        padding: 1rem;
        display: flex;
        align-items: center;

        .club-icon {
          width: 5rem;
          height: 5rem;
          margin-right: 1rem;
        }
        .team-name {
          font-size: 3rem;
        }
      }
      &__right {
        background: $color-blue-primary;
        width: 7rem;
        color: $color-white-primary;
        font-size: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
