//======= CONTAINER ============
.container {
  width: 102.4rem;
  margin: 0 auto;
}

//========== BUTTON =========
.btn {
  display: inline-block;
  overflow: hidden;

  span {
    display: inline-block;
    cursor: pointer;
    @include transition-delay-sm;
    position: relative;
    z-index: 10;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -120%;
      height: 100%;
      width: 100%;
      background-color: $color-blue-primary;
      z-index: -1;
      @include transition-delay-sm;
    }
  }

  &:hover span {
    color: $color-white-primary !important;
    &::before {
      left: 0;
    }
  }
}

//========= HEADING =========
.heading-secondary {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
